.Button {
  background: #07c0a1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  cursor: pointer;
}

.Button:active,
.button:focus{
  filter: brightness(100%);
}

.Button.zero {
  width: 220px;
  grid-column: 1 / span 2;
  border-radius: 57.5px;
  position: relative;
  justify-content: flex-start;
  padding-left: 43px;
}

.Button.function {
  color: rgb(97, 86, 86);
  background: #8b70ee;
}

.Button.operator {
  background: #8336e7;
}
